@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --text: #1a1a1a;
  --background: #fffffe;
  --buttonBackground: #f9f9f9;
  --buttonBorder: #202020;
  --inputBackground: #f9f9f9;
  --inputBorder: #202020;
  --googleButtonBackground: #f9f9f9;
  --cardBackground: white;
  --cardSpanBackground: white;
  --spanTextColor: #6b7280;
  --dividerColor: #e5e7eb;
  font-family: "Roboto", sans-serif;
}

/* Dark mode styles */
.dark {
  --text: #f9f9f9;
  --background: #202020;
  --buttonBackground: #1a1a1a;
  --buttonBorder: #d1d5db;
  --inputBackground: #1a1a1a;
  --inputBorder: #202020;
  --googleButtonBackground: #1a1a1a;
  --cardBackground: #1a1a1a;
  --cardSpanBackground: #1a1a1a;
  --spanTextColor: #f9f9f9;
  --dividerColor: #2a2b2d;
}

body {
  color: var(--text);
  background-color: var(--background);
  transition: color 0.3s ease, background-color 0.3s ease;
}

button {
  color: var(--text);
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--buttonBackground);
  border-color: var(--buttonBorder);
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  opacity: 0.8;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

.welcome-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.welcome-buttons button {
  flex: 1;
  max-width: 200px;
  background-color: transparent;
}
.welcome-buttons button:first-child {
  background-color: var(--buttonBackground);
  color: var(--text);
  border-color: var(--buttonBorder);
} /* Add at the end of your index.css */
.card-bg {
  background-color: var(--cardBackground);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 0px rgba(0, 0, 0, 0.1);
  width: 500px;
  border: var(--dividerColor) 1px solid;
}
.card-bg:hover {
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.2);
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.features {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
}
.boost-productivity {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 700px;
  margin-top: 30px;
}
h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}
