@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --text: #f9f9f9;
  --background: #202020;
  --buttonBackground: #1a1a1a;
  --buttonBorder: #d1d5db;;
  --inputBackground: #1a1a1a;
  --inputBorder: #202020;
  --googleButtonBackground: #1a1a1a;
  --cardBackground: #1a1a1a;
  --cardSpanBackground: #1a1a1a;
  --spanTextColor: #f9f9f9;
  --dividerColor: #2a2b2d;
  font-family: 'Roboto', sans-serif;
}
body{
  color: var(--text);
  background-color: var(--background);
}

button {
  color: var(--text);
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--buttonBackground);
  border-color: var(--borderColor);
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    --text: #1a1a1a;
    --buttonBorder: #202020;
    --background: #ffffff;
    --buttonBackground: #f9f9f9;
    --inputBackground: #f9f9f9;
    --cardSpanBackground: white;
    --cardBackground: white;
    --googleButtonBackground: #f9f9f9;
    --spanTextColor: #6b7280;
    --dividerColor: #e5e7eb;
  }
}
